@import "../../../colors/colors.scss";

.container {
  width: 60px;
  height: 60px;
  position: relative;
}

.start {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: relative;
  margin-top: -5px;
  transition: 0.8s;
  cursor: pointer;
  animation: pulse 2s linear infinite;
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat center/contain url(../../../../content/icons/startIconActive.svg);
  }
  &::after {
    content: "";
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    top: 22px;
    left: 17px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px $active;
  }
  &Disable {
    opacity: 0.5;
    pointer-events: none;
    width: 60px;
    height: 60px;
    background: no-repeat center/contain url(../../../../content/icons/startIcon.svg);
    border: none;
    margin-top: -5px;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.reset {
  margin-top: 15px;
  width: 60px;
  height: 20px;
  background-color: $border;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 6px;
  transition: 0.4s;
  font-weight: 400;
  font-size: 10px;
  color: $name;
  padding: 0;
  &:hover {
    padding: 0;
    opacity: 1;
    font-weight: 400;
    font-size: 10px;
    transform: scale(1.1);
    outline: 1px solid $border;
    box-shadow: 0px 0px 5px 1px $name;
  }
  &Disable {
    transition: 0.4s;
    margin-top: 15px;
    width: 60px;
    height: 20px;
    background-color: $border;
    border: none;
    opacity: 0;
  }
}
