@import "../../../colors/colors.scss";

.container {
  width: 30%;
  height: 100vh;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 0;
  margin: 0;
  transition: 0.8s;
  &Visible {
    transform: translateX(0);
    visibility: visible;
  }
  &Hidden {
    visibility: hidden;
    transform: translateX(-150%);
  }

  .hero {
    margin-right: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 30px;
    .image {
      width: 90px;
      height: 50px;
    }
    .name {
      text-decoration: none;
      color: $name;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }
}
