@import "../../../colors/colors.scss";

.stats {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 15px auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 43px;
  overflow-y: scroll;
  height: 60%;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border-left: 0;
    border-right: 0;
    background-color: $border;
  }
}

.title {
  font-size: 60px;
  text-align: center;
  color: $name;
  padding: 0;
  margin: 0;
  transition: 0.5s linear;
  &Hidden {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }

}

.button {
  box-sizing: content-box;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  background-color: $border;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 6px;
  transition: 0.4s;
  font-weight: 400;
  font-size: 20px;
  color: $name;
  transition: 0.5s linear;
  &Hidden {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    opacity: 1;
    outline: 1px solid #343d47;
    box-shadow: 0px 0px 5px 1px $name;
  }
}
